# Node (React) related
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Gradle related
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE related
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Spring Boot related
spring-boot-*.log
